.wrong:after {
	content:"Väärin!";
	color: red;
	margin-left:10em;
}

.correct:after {
	content:"Oikein!";
	color: green;
	margin-left:10em;
}

.parqu-reroll {
	float:right;
}

.checkAnswer[disabled] {
	color: #999999;
}

.parqu-question-div {
	margin-bottom:1em;
}

.cat {
	height: 200px;
}